<a class="description-container">
  <p><%= @resource.description %></p>
  <div id="readmore"></div>
</a>
<script>
  $('.description-container').on('click', function(){
    $(this).toggleClass('open');
  })
</script>