<div class="oh-container">
  <div class="oh-head" id="openinghours">
    <span class="oh-icon">      
      <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <path fill="#8E8E93" d="M23.883234,11.941617 C23.883234,18.5368511 18.5368511,23.883234 11.9417872,23.883234 C5.34638298,23.883234 0,18.5368511 0,11.941617 C0,5.34638298 5.34638298,0 11.9417872,0 C18.5368511,0 23.883234,5.34638298 23.883234,11.941617 Z M16.3663749,16.1956352 L12,12.9704575 L12,6 C12,5.44771525 11.5522847,5 11,5 C10.4477153,5 10,5.44771525 10,6 L10,13.4750348 C10,13.7923658 10.1506144,14.0908619 10.4058643,14.2793996 L15.1781034,17.8043648 C15.6223418,18.1324969 16.2484719,18.0383742 16.576604,17.5941357 C16.9047361,17.1498973 16.8106133,16.5237673 16.3663749,16.1956352 Z" id="Shape"></path>
      </svg>
    </span>
    <div>
      <h2 <% unless !@resource.open? %>style="color: #FF2D55"<% end %> ><%= @resource.open_string? %></h2>
      <span class="subheader">Öffnungszeiten</span>
    </div>
    <span class="oh-button">      
      <svg width="12px" height="8px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Location" transform="translate(-348.000000, -291.000000)" fill="#000000" fill-rule="nonzero">
            <g id="Adresse-Copy" transform="translate(10.000000, 274.000000)">
                <g id="arrow-right" transform="translate(344.000000, 21.000000) rotate(90.000000) translate(-344.000000, -21.000000) translate(340.000000, 15.000000)">
                    <polygon id="Path" points="0 0.7275 0.77625 0 7.2 6 0.77625 12 0 11.27625 5.64375 6"></polygon>
                </g>
            </g>
        </g>
      </svg>
    </span>
  </div>
  <div class="oh-body">
    <table>
      <% @resource.opening_table.each_with_index do |day, index| %>
      <tr>
        <td><%= @day[index] %>:</td>
        <td style="text-align: right"><% if !day.nil? %><%= day %><% else %><span style="color: #FF2D55">Geschlossen</span><% end %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<script>
 $('#openinghours').on('click', function(){
   $('.oh-body').slideToggle();
   $('#openinghours > .oh-button').toggleClass('open');
 });
</script>