<% if !@resource.performer.user.nil? %>
<h2 style="margin-bottom: 10px !important">Attending Artist</h2>
<a data-type="inbound-link" class="oh-head" href="<%= @resource.performer.url %>" >
  <img src="<%= url_for(@resource.performer.profile_image_thumbnail) unless !@resource.performer.profile_image_thumbnail.attached? %>" alt="" class="oh-head-img">
  <div>
    <h2><%= @resource.performer.name %></h2>
    <span class="subheader"><%= @resource.performer.category %></span>
  </div>
  <span class="oh-button">    
    <svg width="8px" height="12px" viewBox="0 0 8 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g  transform="translate(-350.000000, -608.000000)" fill="#000000" fill-rule="nonzero">
                <g transform="translate(10.000000, 593.000000)">
                    <g transform="translate(340.000000, 15.000000)">
                        <polygon points="0 0.7275 0.77625 0 7.2 6 0.77625 12 0 11.27625 5.64375 6"></polygon>
                    </g>
                </g>
            </g>
        </g>
    </svg>
  </span>
</a>
<% end %>