<div class="flbg">
  <h1>Wähle zwischen</h1>
  <a href="/neuer-performer" id="performer">Performer</a>
  <a href="/neue-location" id="location">Location</a>
  <p>Erstelle entweder einen Performer oder eine Location</p>
</div>