<div class="febg">
  <h1>Erstes Event erstellen</h1>
  <div class="febg-footer">
    <a href="/neues-event" class="btn-primary">Event erstellen</a>
    <a href="/select_abo" class="btn-primary btn-secondary">Weiter</a>
  </div>
</div>
<script src="https://unpkg.com/dropzone"></script>
<script src="https://unpkg.com/cropperjs"></script>