<%= render 'dashboard/shared/header' %>
<div id="container">
  <% if @type == "location" %>
    <%= render 'dashboard/shared/show_location' %>
  <% elsif @type == 'performer' %>
    <%= render 'dashboard/shared/show_performer' %>
  <% else %>
    <%= render 'dashboard/shared/show_organizer' %>
  <% end %>
</div>
<script src="https://unpkg.com/dropzone"></script>
<script src="https://unpkg.com/cropperjs"></script>
<script src="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>
<script src="/jquery.businessHours.min.js"></script>