var accordion1 = $('#accordion1');
var accordion2 = $('#accordion2');
var accordion3 = $('#accordion3');

var form3 = $('#form3');
var button1 = $('#button1');
var button2 = $('#button2');

accordion1.removeClass('active').addClass('done');
accordion2.addClass('active');

button1.remove();
button2.css('display', 'block');

form3.attr('action', '/location/create3/' + <%= @location.id %>);

location_id = <%= @location.id %>;


var businessHoursManager = $("#business-hours").businessHours({
    postInit:function(){
        $('.operationTimeFrom, .operationTimeTill').timepicker({
            'timeFormat': 'H:i',
            'step': 15
            });
        $('.operationTimeFrom, .operationTimeTill, .operationState').on('change', function(){
          $("textarea#opening_hours").val(JSON.stringify(businessHoursManager.serialize()));
        });
    },
    dayTmpl:'<div class="dayContainer" >' +
        '<div data-original-title="" class="colorBox"><input type="checkbox" class="invisible operationState"></div>' +
        '<div class="weekday"></div>' +
        '<div class="operationDayTimeContainer">' +
        '<div class="operationTime input-group"><input type="text" name="startTime" class="form-control operationTimeFrom" value=""></div>' +
        '<div class="operationTime input-group"><input type="text" name="endTime" class="form-control operationTimeTill" value=""></div>' +
        '</div></div>'
});