<div class="search-result" style="justify-content: space-between; margin-top: 10px;" id="organizer_request_<%= @organizer_request.id %>">
  <img src="<% if @organizer.profile_image_thumbnail.attached? %><%= url_for(@organizer.profile_image_thumbnail) %><% else %>/images/blurred-image-2.jpg<% end %>" alt="" class="search-result-img">
  <div style="flex-grow: 10;">
    <h2><%= @organizer.name %></h2>
    <span class="subheader">Ausstehend</span>
  </div>
  <a onclick="deleteOrganizer(<%= @organizer_request.id %>)">X</a>
</div>