<a id="back" style="display: none;"> 
  <svg width="15px" height="24px" viewBox="0 0 15 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Performer" transform="translate(-20.000000, -20.000000)" fill="#000000" fill-rule="nonzero">
            <g id="arrow-right" transform="translate(27.500000, 32.000000) scale(-1, 1) translate(-27.500000, -32.000000) translate(20.000000, 20.000000)">
                <polygon id="Path" points="0 1.455 1.5525 0 14.4 12 1.5525 24 0 22.5525 11.2875 12"></polygon>
            </g>
        </g>
    </g>
  </svg>
</a>
<h1 class="ticket-head">Tickets</h1>
<div class="ticket-body" style="background: white;">
  <% @resource.each do |ticket| %>
    <a class="oh-head" href="<%= ticket.url %>" rel="noreferer">
      <span class="oh-icon">    
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-10.000000, -72.000000)" fill="#8E8E93" fill-rule="nonzero">
                    <g transform="translate(10.000000, 68.000000)">
                        <g transform="translate(0.000000, 4.000000)">
                          <path d="M13.8160237,5.66884273 L18.3169139,10.1697329 L10.1697329,18.3169139 L5.66884273,13.8160237 L13.8160237,5.66884273 Z M10.8106825,19.6130564 L19.6130564,10.8106825 C19.7934718,10.6302671 19.8836795,10.4166172 19.8836795,10.1697329 C19.8836795,9.92284866 19.7934718,9.70919881 19.6130564,9.52878338 L14.4569733,4.3727003 C14.2860534,4.20178042 14.0724036,4.11632047 13.8160237,4.11632047 C13.5596439,4.11632047 13.3459941,4.20178042 13.1750742,4.3727003 L4.3727003,13.1750742 C4.19228487,13.3554896 4.10207715,13.5691395 4.10207715,13.8160237 C4.10207715,14.062908 4.19228487,14.2765579 4.3727003,14.4569733 L9.52878338,19.6130564 C9.69970326,19.7839763 9.91335312,19.8694362 10.1697329,19.8694362 C10.4261128,19.8694362 10.6397626,19.7839763 10.8106825,19.6130564 Z M23.472997,10.5400593 L10.5543027,23.472997 C10.2029674,23.8243323 9.77329377,24 9.2652819,24 C8.75727003,24 8.32759644,23.8243323 7.97626113,23.472997 L6.18160237,21.6783383 C6.71335312,21.1465875 6.97922849,20.5008902 6.97922849,19.7412463 C6.97922849,18.9816024 6.71335312,18.335905 6.18160237,17.8041543 C5.64985163,17.2724036 5.0041543,17.0065282 4.24451039,17.0065282 C3.48486647,17.0065282 2.83916914,17.2724036 2.3074184,17.8041543 L0.527002967,16.0094955 C0.175667656,15.6581602 0,15.2284866 0,14.7204748 C0,14.2124629 0.175667656,13.7827893 0.527002967,13.431454 L13.4456973,0.527002967 C13.7970326,0.175667656 14.2267062,0 14.7347181,0 C15.24273,0 15.6724036,0.175667656 16.0237389,0.527002967 L17.8041543,2.3074184 C17.2724036,2.83916914 17.0065282,3.48486647 17.0065282,4.24451039 C17.0065282,5.0041543 17.2724036,5.64985163 17.8041543,6.18160237 C18.335905,6.71335312 18.9816024,6.97922849 19.7412463,6.97922849 C20.5008902,6.97922849 21.1465875,6.71335312 21.6783383,6.18160237 L23.472997,7.9620178 C23.8243323,8.31335312 24,8.74302671 24,9.25103858 C24,9.75905045 23.8243323,10.188724 23.472997,10.5400593 Z"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </span>
      <div>
        <h2><%= ticket.name %></h2>
        <span class="subheader"><%= ticket.status_html.html_safe %></span>
      </div>
      <span class="price-tag"><%= ticket.price_str %>€</span>
      <span class="oh-button">    
        <svg width="8px" height="12px" viewBox="0 0 8 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-350.000000, -608.000000)" fill="#000000" fill-rule="nonzero">
                    <g transform="translate(10.000000, 593.000000)">
                        <g transform="translate(340.000000, 15.000000)">
                            <polygon points="0 0.7275 0.77625 0 7.2 6 0.77625 12 0 11.27625 5.64375 6"></polygon>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
      </span>
    </a>
  <% end %> 
</div>
<script>
    var thisurl = new URL(document.location.href);
		var from = thisurl.searchParams.get("from");
    if (from !== null) {
      $('#back').attr("href", from)
      $('#back').css('display', 'inline-block');
    }
</script>

